*.tt
tt.*
*.tt.*
*_tt
tt_*
*_tt_*

__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
env/

dist/
build/
*.egg-info/

.pytest_cache/
.coverage*
htmlcov/
test-results.xml

.mypy_cache/
.pytype/
.dmypy.json

.ipynb_checkpoints/